<%= form_for(@offense) do |f| %>
  <% if @offense.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@offense.errors.count, "error") %> prohibited this offense from being saved:</h2>

      <ul>
      <% @offense.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :time %><br>
    <%= f.datetime_select :time%>
  </div>
  <div class="field">
    <%= f.label :car_number %><br>
    <%= f.text_field :car_number %>
  </div>
  <div class="field">
    <%= f.label :comment %><br>
    <%= f.text_area :comment %>
  </div>
  <div class="field">
    <%= f.label :location_id %><br>
    <%= f.collection_select(:location_id, Location.all, :id, :id) %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.collection_select(:user_id, User.all, :id, :phone_number)%>
  </div>
  <div class="field">
    <%= f.label :offense_type_id %><br>
    <%= f.collection_select(:offense_type_id, OffenseType.all, :id, :title) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
