<h1 id="title">Spot The Offense</h1>

<div class="list">
    <% @offenses.each do |offense| %>
        <% @offense_images = @images.where(:offense_id => offense.id) %>
        <div class="list-item">
            <table class="images">
                <tbody>
                    <tr>
                        <td>
                            <%unless @offense_images[0].blank? %>
                                <%= image_tag(@offense_images[0].path) %>
                             <% end %>
                        </td>
                        <td>
                      <td>
                        <%unless @offense_images[1].blank? %>
                            <%= image_tag(@offense_images[1].path) %>
                        <% end %>
                      </td>
                      <td>
                    </tr>
                <tr>
                    <td>
                      <%unless @offense_images[2].blank? %>
                          <%= image_tag(@offense_images[2].path) %>
                      <% end %>
                    </td>
                    <td>
                    <td>
                      <%unless @offense_images[3].blank? %>
                          <%= image_tag(@offense_images[3].path) %>
                      <% end %>
                    </td>
                    <td>
                </tr>
                </tbody>
         </table>

    <div class="map">
      <%= image_tag "http://maps.google.com/maps/api/staticmap?size=550x150&sensor=false&zoom=16&markers=#{offense.location.latitude}%2C#{offense.location.longitude}", class: "map" %>
    </div>

    <div class="datetime">
      <span class="date"><%= offense.time.strftime("%d.%m.%Y",) %></span>
      <span class="time"><%= offense.time.strftime("%H:%M") %></span>
    </div>

    <div class="offense-type">
      <p><%= OffenseType.find(offense.offense_type).title %></p>
    </div>

    <div class="comment">
      <p><%= offense.comment %></p>
    </div>

  </div>
  <% end %>
</div>

<!--<table>-->
  <!--<thead>-->
    <!--<tr>-->
      <!--<th>Id</th>-->
      <!--<th>Time</th>-->
      <!--<th>Car number</th>-->
      <!--<th>Comment</th>-->
      <!--<th>Location</th>-->
      <!--<th>User</th>-->
      <!--<th>Offense type</th>-->
      <!--<th>Images</th>-->
      <!--<th colspan="3"></th>-->
    <!--</tr>-->
  <!--</thead>-->

  <!--<tbody>-->
    <!--<% @offenses.each do |offense|%>-->
        <!--<% @offense_images = @images.where(:offense_id => offense.id) %>-->
      <!--<tr>-->
        <!--<td><%= offense.id%></td>-->
        <!--<td><%= offense.time.to_s %></td>-->
        <!--<td><%= offense.car_number %></td>-->
        <!--<td><%= offense.comment %></td>-->
        <!--<td><%= offense.location.latitude.to_s + "   "+ offense.location.longitude.to_s %></td>-->
        <!--<td><%= offense.user.phone_number %></td>-->
        <!--<td><%= offense.offense_type.title %></td>-->
        <!--<td>-->
          <!--<% @offense_images.each do |i|%>-->
            <!--<%= image_tag(i.path, class: 'list_image') %>-->
          <!--<% end %>-->
        <!--</td>-->
        <!--<td><%= link_to 'Show', offense %></td>-->
        <!--<td><%= link_to 'Edit', edit_offense_path(offense) %></td>-->
        <!--<td><%= link_to 'Destroy', offense, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
      <!--</tr>-->
    <!--<% end %>-->
  <!--</tbody>-->
<!--</table>-->

<!--<br>-->

<!--<%= link_to 'New Offense', new_offense_path %>-->
