<p id="notice"><%= notice %></p>


<p>
  <strong>Time:</strong>
  <%= @offense.time %>
</p>

<p>
  <strong>Car number:</strong>
  <%= @offense.car_number %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @offense.comment %>
</p>

<p>
  <strong>Location:</strong>
  <%= @offense.location %>
</p>

<p>
  <strong>User:</strong>
  <%= @offense.user %>
</p>

<p>
  <strong>Offense type:</strong>
  <%= @offense.offense_type %>
</p>

<%= link_to 'Edit', edit_offense_path(@offense) %> |
<%= link_to 'Back', offenses_path %>
