<%= form_for(@offense_type, :html => {:multipart => true}) do |f| %>
  <% if @offense_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@offense_type.errors.count, "error") %> prohibited this offense_type from being saved:</h2>

      <ul>
      <% @offense_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Title" %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label "Description" %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label "Small image" %><br>
    <%= f.file_field :path_to_small_image %>
  </div>
  <div class="field">
    <%= f.label "Big image" %><br>
    <%= f.file_field :path_to_big_image %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
