<h1>Listing Offense Types</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Small image</th>
      <th>Big image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @offense_types.each do |offense_type| %>
      <tr>
        <td><%= offense_type.title %></td>
        <td><%= offense_type.description %></td>
        <td><%= image_tag(offense_type.path_to_small_image, class: 'list_image') %></td>
        <td><%= image_tag(offense_type.path_to_big_image, class: 'list_image') %></td>
        <td><%= link_to 'Show', offense_type %></td>
        <td><%= link_to 'Destroy', offense_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Offense type', new_offense_type_path %>
