<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @offense_type.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @offense_type.description %>
</p>

<p>
  <strong>Small image:</strong>
  <%= @offense_type.path_to_small_image %>
</p>

<p>
  <strong>Big image:</strong>
  <%= @offense_type.path_to_big_image %>
</p>

<%= link_to 'Edit', edit_offense_type_path(@offense_type) %> |
<%= link_to 'Back', offense_types_path %>
