// Place all the styles related to the Offenses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background-color: white;
}


hr {
  background-color: darkgray;
  height: 1px;
  border: none;
  width: 620px;
}

#title {
  text-align: center;
  background-color: #FDFDFD;
  width: 630px;
  margin: 0 auto;
  padding: 10px;
}


.list {
  width: 650px;
  margin-left: auto;
  margin-right: auto;
  background-color: #FDFDFD;
}

.list > .list-item {
  padding: 25px;
}

.images {
  margin-right: auto;
  margin-left: auto;
  width: 550px;
  height: 550px;
}

img {
  width: 250px;
  height: 250px;
  margin: 10px;
}

.map {
  margin-left: auto;
  margin-right: auto;
  width: 550px;
  height: 150px;
}

.datetime {
  width: 530px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding: 20px;
}

.date {
  position: absolute;
  left: 10px;
}

.time {
  position: absolute;
  right: 10px;
}

.offense-type, .comment {
  width: 550px;
  margin-left: auto;
  margin-right: auto;
}