// Place all the styles related to the offense_types controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.list_image  {
  width: 60px;
  height: 70px;
}