<%= form_for(@image) do |f| %>
  <% if @image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@image.errors.count, "error") %> prohibited this image from being saved:</h2>

      <ul>
      <% @image.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :path %><br>
    <%= f.file_field :path %>
  </div>
  <div class="field">
    <%= f.label :offense_id %><br>
    <%= f.collection_select(:offense_id, Offense.all, :id, :id) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
